:root {
	--light: #fdf8e5;
	--red: #ff0000;
}

body {
	background-color: var(--light);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	margin: 0;
}

.error{
	background-color:var(--red) ;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: larger;
}
